<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %><%@ Import Namespace="System.Security.Cryptography" %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server"><title>一卡通推广</title>
   <meta name="Keywords" content="久游积分,勇士OL,勇士内测激活码,劲舞团,劲舞,超级舞者,超舞,敢达,SD,高达,劲舞2" />
   <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
   <link rel="shortcut icon" type="image/ico" href="http://www.9you.com/favicon.ico" /> 
   <link href="/Content/css/index.css" rel="Stylesheet" type="text/css" />
   <link href="/content/css/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
   <link href="/scripts/themes/steel/grid.css" rel="stylesheet" type="text/css" />
   <link href="/Scripts/multiSelect/jquery.multiSelect.css" rel="stylesheet" type="text/css" />
   <link href="/Scripts/jqtentry/jquery.timeentry.css" rel="stylesheet" type="text/css" />
   <link href="/Scripts/themes/jqModal.css" rel="stylesheet" type="text/css" />
   <link href="/Content/css/thickbox.css" rel="stylesheet" type="text/css" />
   <link href="/Content/css/tipswindown.css" rel="Stylesheet" type="text/css" />

   <script type="text/javascript" src="/scripts/jquery-1.3.2.min.js"></script>
   <script type="text/javascript" src="/scripts/jquery-ui-1.7.2.custom.min.js"></script>
   <script type="text/javascript" src="/scripts/jquery.validate.js"></script>
   <script type="text/javascript" src="/scripts/TGProject.js"></script>
   <script type="text/javascript" src="/Scripts/multiSelect/jquery.bgiframe.min.js"></script>
   <script type="text/javascript" src="/Scripts/multiSelect/jquery.multiSelect.js"></script>
   <script type="text/javascript" src="/Scripts/cardpush/m818.global.js"></script>
   <script type="text/javascript" src="/Scripts/cardpush/m818.validate.js"></script>
   <script type="text/javascript" language="javascript" src="/Scripts/thickbox-compressed.js"></script>
   <script type="text/javascript" language="javascript" src="/Scripts/tipswindown.js"></script>
   <script src="/Scripts/scoresite/score_global.js" type="text/javascript"></script>
   <asp:ContentPlaceHolder ID="HeaderContent" runat="server">
   </asp:ContentPlaceHolder>
</head>
<body>
<script type="text/javascript" src="http://fj.9you.com/web_v3/js/top.js" language="javascript" charset="gb2312"></script>
<asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
<br /><br /><br />
<!-- 底部版权-->
<div class="copyright">
   ·<a href="http://www.9you.com/about011.html" target="_blank">公司简介</a>
   ·<a href="http://www.9you.com/about9youe.html" target="_blank">About 9you</a>
   ·<a href="http://www.hk.9you.com/" target="_blank">香港版</a>
   ·<a href="http://www.9you.com/contact/contact.html" target="_blank">联系方法</a>
   ·<a href="http://www.9you.com/shwhz/indexall.htm" target="_blank">商务合作</a>
   ·<a href="http://kefu.9you.com/" target="_blank">客服中心</a>
   ·<a href="http://job.9you.com/482573930035C77B" target="_blank">招聘信息</a>
   ·<a href="http://www.9you.com/links.html" target="_blank">友情链接</a><br />
   (C) 2010 9you.com All Rights Reserved. 久游网 版权所有</div>
</body>
</html>
