#
# Custom configuration.

# Listen on all interfaces.
listen_addresses = '*'

# Determines the maximum number of concurrent connections to the database server. Default: 100
max_connections = 100

# Sets the amount of memory the database server uses for shared memory buffers. Default: 32MB
shared_buffers = 32MB

max_replication_slots = 3

max_val_senders = 3
