TODO> TODO> TODO> Unknown command. Commands: todo, done, skip, list, or quit
TODO> TODO> TODO> 
TODO> Current: first task
TODO> Current: first task
TODO> first task
another task

Current: first task
TODO> 