<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" MasterPageFile="~/Views/Shared/Site.Master" %>
<asp:Content runat="server" ContentPlaceHolderID="MainContent">
	<h1>Exemple 1</h1>
	<asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="Archives">
	<% Html.RenderPartial("Archive", new ProgSessionExemple.UI.Web.Data.ArchiveRepository().Get()); %>
</asp:Content>