<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" MasterPageFile="~/Views/Shared/Site.Master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="MainContent">
	<h1>Exemple 5</h1>
	<asp:ContentPlaceHolder ID="MainContent" runat="server" />	
</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="Archives">
	<% Html.RenderAction("List", "Archive"); %>
</asp:Content>
