# -*- mode: snippet -*-
# name: jupyter julia src block
# key: jsrcju
# contributor: Giuseppe Ragusa <gragusa@luiss.it>
# group: org-mode
# --
#+BEGIN_SRC jupyter-julia :session juju :async yes
$0
#+END_SRC
