class ${1:ModelName}sController < ApplicationController
	expose(:$2s) { $1.all }
	expose(:${2:model_name})

	def create
		if $2.save
			redirect_to $2, :notice => "Successfully created $2."
		else
			render :action => 'new'
		end
	end

	def update
		if $2.update_attributes(params[:$2])
			redirect_to $2, :notice => "Successfully updated $2."
		else
			render :action => 'edit'
		end
	end

	def destroy
		$2.destroy
		redirect_to $2s_url, :notice => "Successfully destroyed $2."
	end${3}
end
