echo "==> Saving image as '{{ image_name }}'."
buildah commit --squash --rm $container {{ image_name }}

{% if save_docker == True -%}
echo "===> Send to Docker."
buildah push {{ image_name }} docker-daemon:{{ image_name }}:latest
{% endif %}
