###################################
#
# ISPConfig local-host-names Configuration File
#         Version 1.0
#
###################################
##----##
localhost
<!-- BEGIN DYNAMIC BLOCK: sendmail -->
{DOMAIN}
<!-- END DYNAMIC BLOCK: sendmail -->
#### MAKE MANUAL ENTRIES BELOW THIS LINE! ####