echo "==> Clone emacs cofig."
buildah run --net host --user {{ username }} $container -- git clone git://github.com/jpace121/evil-ed.git /home/{{ username }}/.emacs.d
buildah run --net host --user {{ username }} $container -- bash /home/{{ username }}/.emacs.d/add_emc_and_tmux.sh

echo "==> Setting git config."
buildah run --net host --user {{ username }} $container -- git config --global user.name "James Pace"
buildah run --net host --user {{ username }} $container -- git config --global user.email "jpace121@gmail.com"
