{
	ahruman_emission_map_test =
	{
		roles = "ahruman_emission_map_test";
		ai_type = "dumbAI.plist";
		bounty = 0;
		cargo_type = "CARGO_NOT_CARGO";
		max_flight_speed = 0;
		scan_class = "CLASS_ROCK";
		model = "ahruman-test-cube.dat";
		name = "Shader test object";
		
		materials =
		{
			"cube-face" =
			{
				diffuse = (255, 0, 0);
				diffuse_map = "oolite_shader_test_suite_diffuse_blank.png";
				emission = (160, 255, 160);
				emission_map = "oolite_shader_test_suite_2_emission.png";
			};
		};
	};
}
