<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="site.master.cs" Inherits="twademe.masters.site" %>
<%@ Register Src="../controls/twitter_auth.ascx" TagName="twitter_auth" TagPrefix="uc" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/master.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/ie.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/forms.css" />
    <title>Tradeify.Org - Open Source, Open Data, Local Trading</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="background">
    <form id="form1" runat="server">
    <div id="wrapper">
        <div id="header_bar">
            <div id="header">
                <div id="toolbar">
                    <uc:twitter_auth ID="twitter_auth" runat="server" />
                </div>
                <h1>twooooby</h1>
                <h4>Open, Social, Local Trade</h4>
            </div>
            <div id="main-nav">
               <ul class="nav">
                <li class="current" ><a href="/index.aspx" title="">Offers</a></li>
                <li><a href="#"  title="">Wants</a></li>
                <li><a href="#"  title="">Feedback</a></li>
                <li><a href="#" title=""></a></li>
                <li><a href="#" title="">How it Works</a></li>
                <li><a href="/post_offer.aspx" title="">Post Your Own</a></li>
                <li><a href="#" title=""></a></li>
                <li><a href="http://blog.tradeify.org" title="">Our Blog</a></li>    
            </ul> 
            </div>
            <!-- end main nav -->
        </div>
        <div id="content">
            <div id="main" class="regular">
                <div class="gutter">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <!-- end gutter -->
            </div>
            <!-- end main -->
            <hr />
            <div id="column" class="public">
                <div class="gutter">
                    <asp:ContentPlaceHolder ID="RightContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <!-- end column -->
        </div>
        <hr />
        <!-- start FOOTER -->
        <div id="footer">
            <p>
                100% Open Source / 100% Open Data / <a href="http://www.twademe.org">twademe</a> 2009</p>
        </div>
    </div>
    <!-- end wrapper -->
    </form>
</body>
</html>
