<%@ Master Language="C#" MasterPageFile="~/Estructura.Master" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="Agros.Site11" %>
<asp:Content ID="ContentG" ContentPlaceHolderID="General" runat="server">

<asp:ContentPlaceHolder ID="Editable" runat="server">                	    
	</asp:ContentPlaceHolder>
    
</asp:Content>
