{
	FilesToRename = {
		"FoundationTool_Prefix.pch" = "ÇPROJECTNAMEÈ_Prefix.pch";
		"FoundationTool.1" = "ÇPROJECTNAMEÈ.1";
        "main.m" = "ÇPROJECTNAMEÈ.m";
	};
	FilesToMacroExpand = (
		"ÇPROJECTNAMEÈ.1",
		"ÇPROJECTNAMEÈ_Prefix.pch",
        "ÇPROJECTNAMEÈ.m",
	);
	Description = "This project builds a command-line tool that links against the Foundation library.";
}
