<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Test01.master.cs" Inherits="Test01.Test01" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="Scripts\Test01.js"></script>
    <script src="Scripts/stockquote.js"></script>
    <link rel="stylesheet" type="text/css" href="\CSS\main.css" />
    <title><%=this.Page.Title %></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="title-banner">
        <h2>Title Banner</h2>
        <h4><%=this.Page.Title %></h4>
        
    </div>
    <div class="nav-menu">
        <asp:HyperLink NavigateUrl="~/default.aspx" runat="server">Random Numbers</asp:HyperLink><br />
        <asp:HyperLink NavigateUrl="~/stockquote.aspx" runat="server">Stock Quote</asp:HyperLink><br />
        <p>another Link</p>
        <p>another Link</p>
    </div>
    <div class="error-banner">
        <h2 style="color: red;">Error Banner</h2>
    </div>
    <form id="form1" runat="server">
        <div class="content">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
